<footer class="indigo darken-3 page-footer">
  <div class='container'>
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text thin">nutriSNP</h5>
        <ul>
          <li>
            <a class="lime-text thin" href="https://www.23andme.com/">Powered by 23andMe</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span>© 2017 <a class="white-text" href="http://www.github.com/ama2488">Amanda Allen</a></span>
    </div>
  </div>
</footer>
