<nav>
  <div class="nav-wrapper indigo darken-2">
    <div class='container'>
      <a href="/" class="brand-logo thin white-text">
    nutriSNP
    </a>

      <a href="#" data-activates="mobile-menu" class="button-collapse hide-on-lg-and-up right"><i class="material-icons">menu</i></a>
      <ul id="nav" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <% if (!user) { %>
          <li><a href="#sign_in">Sign In</a></li>
          <% }; %>
            <% if (user) { %>
              <li>
                <a href="#sign_out">
                  <%= user.first %>
                </a>
              </li>
              <% }; %>
      </ul>
      <ul class="side-nav right" id="mobile-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <% if (!user) { %>
          <li><a href="#sign_in">Sign In</a></li>
          <% }; %>
            <% if (user) { %>
              <li>
                <a href="#sign_out">
                  <%= user.first %>
                </a>
              </li>
              <% }; %>
      </ul>
    </div>
  </div>
</nav>

<div id="sign_in" class="modal center">
  <div class="modal-content">
    <div class='container'>
      <div class=row>
        <h4>Sign In</h4>
        <form action="/signin" class='authenticate'>
          <section class="input-field inline col s10 center push-s1">
            <input name="email" id="email" type="email" class="validate" required="" aria-required="true">
            <label class="active" for="email">Email</label>
          </section>
          <section class="input-field inline col s10 center push-s1">
            <input name="password" id="password" type="password" class="validate" required="" aria-required="true">
            <label class="active" for="password">Password</label>
          </section>
          <section class="">
            <div class="social-wrap a">
              <button type='button' id="facebook"><a class='white-text thin' href='/auth/facebook'>Sign in with Facebook</a></button>
            </div><br>
            <div class='row center'>
              <button type='submit' name='btn_login' class='col s8 push-s2 btn btn-large waves-effect indigo thin'>Sign In</button>
            </div>
            <div class='row center'>
              <button type='button' class='col s8 push-s2 btn btn-large waves-effect indigo'><a href="#sign_up" class="modal-action modal-close white-text thin">Create Account</a></button>
            </div>
            <div class='row center'>
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat col s12">Cancel</a>
            </div>

          </section>
      </div>
    </div>
    </form>
  </div>
</div>

<div id="sign_out" class="modal">
  <div class="modal-content">
    <h4>Sign Out?</h4>
  </div>
  <form action='/signout' method='post'>
    <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="Sign Out">
    <a href="#!" class="modal-action waves-effect modal-close waves-green btn-flat">Cancel</a>
  </form>
</div>

<div id="sign_up" class="modal">
  <div class="modal-content">
    <h4>Sign Up!</h4>
    <form action="/signup" class='authenticate'>
      <section class="input-field inline">
        <input name="first" id="first" type="text" class="validate" required="" aria-required="true">
        <label class="active" for="name">First</label>
      </section>
      <section class="input-field inline">
        <input name="last" id="last" type="text" class="validate" required="" aria-required="true">
        <label class="active" for="name">Last</label>
      </section>
      <section class="input-field inline">
        <input name="email" id="email" type="email" class="validate" required="" aria-required="true">
        <label class="active" for="email">Email</label>
      </section>
      <section class="input-field inline">
        <input name="password" id="password" type="password" class="validate" required="" aria-required="true">
        <label class="active" for="password">Password</label>
      </section>
      <section class="">
        <input type="submit" class="modal-action waves-effect waves-green btn-flat" value="Create Account">
        <a href="#!" class="modal-action waves-effect modal-close waves-green btn-flat">Cancel</a>
      </section>
    </form>
  </div>
</div>
