</br>
<div class='row'>
  <div class='col s12 l6 right'>
    <div id='chart' height='300px' width='100%'></div>
  </div>
  <div class='col s12 l6 left'>
    <div class='card-panel center'>
      <div class='card-panel indigo darken-4'>
        <h3 class='white-text'><span id='calories'><%= calories %> </span> Calories</h3>
      </div>
      <h4>Carbs | <span id='carb' class='thin'><%= macros.carbs %> </span><span class='thin'> grams</span></h3>
      <h4>Fat   | <span id='fat' class='thin'><%= macros.fat %> </span><span class='thin'> grams</span></h3>
      <h4>Protein | <span id='protein' class='thin'>  <%= macros.protein %> </span><span class='thin'> grams</span> <h3>
</div>
</div>

</div>
<div class='col s12'>
<form action="#">
<p class="range-field">
  <input type="range" id="goals" min="-2" max="2" />
  <label for="goals">slide to adjust goal to desired weekly weight gain/loss.</label>
</p>
</form>
