<aside class="hide-on-small-only">
  <article class="sticky">
    <section class='container center'>
      <header class='card-panel lime'>
        <h5 class='center white-text'> Sample </h5>
      </header>
      <h6> This is just a sample profile. </h6>
      <h6 class='thin'>Edit the profile to receive more accurate calorie recommendations.</h6>
      <h6 class='thin'>Even better, sign in for customized macronutrient recommendations.</h6>
    </section>
  </article>
</aside>
