<!DOCTYPE html>
<html>
<%- include ./partials/head %>

  <body>
    <%- include ./partials/navbar %>
      <header class="parallax-container postergrad">
        <div class="parallax poster"><img src="https://media3.giphy.com/media/dJGldn72f6pR6/200.webp#54-grid1"></div>
      </header>
      <main class="row">
        <article class=container>
          <section class="col l4 s12 center">
            </br>
            <i class="fa fa-flask fa-4x lime-text" aria-hidden="true"></i>
            <h4 class='indigo-text'> Genetics </h4>
            <h5 class='thin'>Quickly and easily import your results from 23andMe to be analyzed. </h5>
          </section>
          <section class="col l4 s12 center">
            </br>
            <i class="fa fa-cutlery fa-4x lime-text" aria-hidden="true"></i>
            <h4 class='indigo-text'> Lifestyle </h4>
            <h5 class='thin'>Provide some basic details about yourself, such as your age and activity level.</h5>
          </section>
          <section class="col l4 s12 center">
            </br>
            <i class="fa fa-pie-chart fa-4x lime-text" aria-hidden="true"></i>
            <h4 class='indigo-text'> Simplicity </h4>
            <h5 class='thin'>View simple, easy to follow recommendations based on your unique data.</h5>
          </section>
        </article>
      </main>
      <section class='row center'>
        <button class='waves-effect waves-light btn indigo darken-4'>
          <a href='https://www.23andme.com/' class='thin white-text'>Don't have a 23andMe account? Learn more here.</a>
        </button></br>
      </section>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
      <%- include ./partials/footer %>
  </body>

</html>
