<!DOCTYPE html>
<html>

<%- include ./partials/head %>

  <body>
    <%- include ./partials/navbar %>
      <div class="parallax-container postergrad">
        <div class="parallax poster"><img src="https://media3.giphy.com/media/dJGldn72f6pR6/200.webp#54-grid1"></div>
      </div>
      <div class="row">
        <div class=container>
          <div class="col l4 s12 center">
            </br>
            <i class="fa fa-cutlery fa-4x lime-text" aria-hidden="true"></i>
            <h4 class='indigo-text'> Lifestyle </h4>
            <h5 class='thin'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vulputate, est a elementum cursus, orci justo hendrerit lacus, quis posuere risus ex nec purus. Vestibulum tempus efficitur purus, et faucibus quam elementum et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Suspendisse sit amet leo at ligula laoreet molestie eget eu enim. Fusce vel diam vitae mi viverra ornare. Curabitur ante sapien, dapibus facilisis sapien volutpat, ultricies posuere sem. </h5>
          </div>
          <div class="col l4 s12 center">
            </br>
            <i class="fa fa-flask fa-4x lime-text" aria-hidden="true"></i>
            <h4 class='indigo-text'> Genetics </h4>
            <h5 class='thin'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vulputate, est a elementum cursus, orci justo hendrerit lacus, quis posuere risus ex nec purus. Vestibulum tempus efficitur purus, et faucibus quam elementum et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Suspendisse sit amet leo at ligula laoreet molestie eget eu enim. Fusce vel diam vitae mi viverra ornare. Curabitur ante sapien, dapibus facilisis sapien volutpat, ultricies posuere sem. </h5>
          </div>
          <div class="col l4 s12 center">
            </br>
            <i class="fa fa-pie-chart fa-4x lime-text" aria-hidden="true"></i>
            <h4 class='indigo-text'> Simplicity </h4>
            <h5 class='thin'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vulputate, est a elementum cursus, orci justo hendrerit lacus, quis posuere risus ex nec purus. Vestibulum tempus efficitur purus, et faucibus quam elementum et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Suspendisse sit amet leo at ligula laoreet molestie eget eu enim. Fusce vel diam vitae mi viverra ornare. Curabitur ante sapien, dapibus facilisis sapien volutpat, ultricies posuere sem. </h5>
          </div>
        </div>
      </div>
      <div class='row center'>
        <button class='waves-effect waves-light btn indigo darken-4'>
          <a href='https://www.23andme.com/' class='thin white-text'>Don't have a 23andMe account? Learn more here.</a>
        </button></br>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
      <%- include ./partials/footer %>
  </body>

</html>
