<!DOCTYPE html>
<html>

<%- include ./partials/head %>

  <body>
    <h1><%= title %></h1>

    <a href="/auth">Authorize 23andMe</a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  </body>

</html>
