
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
div.social-wrap button {
  padding-right: 45px;
  height: 35px;
  background: none;
  border: none;
  display: block;
  background-size: 35px 35px;
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 4px;
  color: white;
  font-family:"Merriweather Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  width: 205px;
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: 0 4px 2px -2px gray;
  text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}
button#facebook {
  margin: auto;
  border-color: #2d5073;
  background-color: #3b5998;
  background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

div.social-wrap button:active {
  background-color: #222;
}

ul.sm-wrap {
  list-style-type: none;
  padding: 0px;
}
ul.sm-wrap li {
  font-family:"Helvetica", sans-serif;
  font-size: 11px;
  margin-bottom: 10px;
  padding-left: 20px;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
ul.sm-wrap li#facebook-sm {
  background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

ul.sm-wrap a{
  text-decoration: none;
}


.backdrop{
  background-color: #5C6BC0;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #CDDC39;
  }
  input[type=range]::-moz-range-thumb {
    background-color: #CDDC39;
  }
  input[type=range]::-ms-thumb {
    background-color: #CDDC39;
  }

  /***** These are to edit the thumb and the text inside the thumb *****/
  input[type=range] + .thumb {
    background-color: #CDDC39;
  }
  input[type=range] + .thumb.active .value {
    color: #5C6BC0;
  }

.sticky {
  height: 500px;
  width: 300px;
}

.postergrad {
  display: block;
  position: relative;
}
.postergrad::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 255, 0) 0%, rgba(0, 0, 255, 0.65) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 255, 0.65)), color-stop(100%, rgba(0, 0, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 255, 0) 0%, rgba(0, 0, 255, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 255, 0) 0%, rgba(0, 0, 255, 0.65) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}
.poster {
  display: block;
}
